<nav class="{{ community.site_theme }} lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">{{ community.community_name }}</a>
        {% if request.user.is_authenticated %}
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if is_admin %}
            <li>
                <a href="{% url 'admin_panel' %}">Admin Panel</a>
            </li>
            {% endif%}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if is_admin %}
            <li>
                <a href="{% url 'admin_panel' %}">Admin Panel</a>
            </li>
            {% endif%}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        </ul>
        {% endif %}
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</nav>